lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

node_modules

# IMPORTANT: If you committed to the git repository before you added this .gitignore file
# you need to delete the excluded files manually from your git repository, to ensure, 
# that they are not tracked anymore. To delete them from git, just do the following:
# 
#     git rm --cached FILENAME
#
# ... Then everything should be fine.
 
# Exclude personal Xcode user settings
xcuserdata/
kiosk.xcodeproj/project.xcworkspace/xcuserdata/ 
